<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add a new book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
 <div class="container my-5">
            <h2 class="mb-5">Add a new book</h2>
            <div class="row">
                <div class="col-md-12">
                    <form action="#" th:action="@{add_book}" th:object="${booksContext}" method="POST">
                        
                            <div class="form-group">
                                <label for="Title" class="col-form-label">Title: </label>
                                <input type="text" th:field="*{Title}" class="form-control" id="Title" placeholder="Clean Code">
                            </div>
                            <div class="form-group">
                                <label for="Authors:" class="col-form-label">Authors: </label>
                                <input type="text" th:field="*{AuthorName}" class="form-control" id="AuthorName" placeholder="Robert Cecil Martin, Mahmud Mardini">
                            </div>
                        
                            <div class="form-group">
                            	<label for="Description" class="col-form-label">Description: </label>
                                <input type="text" th:field="*{Description}" class="form-control" id="Description" placeholder="Even bad code can function. But if code isn't clean, it can bring a development organization to its knees.">
                            </div>
                              <div class="form-group">
                                <label for="Note" class="col-form-label">Note: </label>
                                <input type="text" th:field="*{Note}" class="form-control" id="Note" placeholder="Best book for 2008">
                            </div>
                        
                        
                         <div class="form-group">
                                <label for=PublicationDate class="col-form-label">Publication Date</label>
								<input type="date" th:field="*{PublicationDate}" id="PublicationDate" placeholder="August 1, 2008"/>
                            </div>
    
                        </div>
                        <div class="row">
                            <div class="mt-5">
                                <input type="submit" class="btn btn-primary" value="Add">
                                <a href="books" class="btn btn-primary">Book List</a>
                            </div>
                           </div>
                          
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>